<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="icon" href="static/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/clientlist.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="static/js/clientlist.js"></script>
</head>
<body>
    <header>
        <div class="container-navbar">
            <div class="logo">
                <a href="">
                    <img src="static/images/logo.svg" alt="">
                    <p>VetSalud</p>
                </a>
            </div>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <nav class="navbar container" id="nav">
                <i class="fa-solid fa-bars" id="menu-cerrar"></i>
                <ul class="menu" id="menu-list">
                    <li><a href="clientlist.html">Lista de clientes</a></li>
					<li><a href="schedule.html">Citas programadas</a></li>
                    <li><a href="#">Crear ficha médica</a></li>
                    <li><a href="#">Fichas médicas</a></li>
                    <li><a href="#"><img width="80" src="static/images/user.svg" alt=""></a></li>
                    <li><a href="#" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="content-container">
        <h1 class="titulo">Lista de Clientes</h1>
        <div class="search-bar">
            <input type="text" id="busqueda" class="search-input" placeholder="Buscar cliente...">
            <button id="buscar" onclick="buscar">
                <i class="fas fa-search"></i> <!-- Ícono de búsqueda -->
            </button>
        </div>
        <table class="customer-tabla" id="tablaUsuarios">
            <thead>
                <tr>
                    <th class="tabla-header">Nombre</th>
                    <th class="tabla-header">DNI</th>
                    <th class="tabla-header">Número</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr class="tabla-row">
                    <td class="tabla-cell">John Doe</td>
                    <td class="tabla-cell">12345678</td>
                    <td class="tabla-cell">555-1234</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Jane Smith</td>
                    <td class="tabla-cell">87654321</td>
                    <td class="tabla-cell">555-5678</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Michael Johnson</td>
                    <td class="tabla-cell">98765432</td>
                    <td class="tabla-cell">555-4321</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Sarah Brown</td>
                    <td class="tabla-cell">54321678</td>
                    <td class="tabla-cell">555-8765</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">David Lee</td>
                    <td class="tabla-cell">87651234</td>
                    <td class="tabla-cell">555-9876</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Emily White</td>
                    <td class="tabla-cell">34567890</td>
                    <td class="tabla-cell">555-6789</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Daniel Clark</td>
                    <td class="tabla-cell">65432123</td>
                    <td class="tabla-cell">555-7890</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Laura Davis</td>
                    <td class="tabla-cell">76543210</td>
                    <td class="tabla-cell">555-1111</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Robert Johnson</td>
                    <td class="tabla-cell">87654321</td>
                    <td class="tabla-cell">555-2222</td>
                </tr>
                <tr class="tabla-row">
                    <td class="tabla-cell">Olivia Smith</td>
                    <td class="tabla-cell">12345678</td>
                    <td class="tabla-cell">555-3333</td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- custom js file link  -->
		<!-- <script src="static/js/clientlist.js"></script> -->
  </body>
</html>