<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
    <link rel="icon" href="images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/clientlist.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="js/clientlist.js"></script>
</head>
<body>
    <header>
        <div class="container-navbar">
            <div class="logo">
                <a href="admin.html">
                    <img src="images/logo.svg" alt="">
                    <p>VetSalud</p>
                </a>
            </div>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <nav class="navbar container" id="nav">
                <i class="fa-solid fa-bars" id="menu-cerrar"></i>
                <ul class="menu" id="menu-list">
                    <li><a href="clientlist.html">Lista de clientes</a></li>
					<li><a href="citasProgramadas.html">Citas programadas</a></li>
                    <li><a href="#">Crear ficha médica</a></li>
                    <li><a href="#">Fichas médicas</a></li>
                    <li><a href="#"><img width="80" src="images/user.svg" alt=""></a></li>
                    <li><a href="#" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="content-container">
        <h1 class="titulo">Lista de Clientes</h1>
        <div class="search-bar">
            <input type="text" id="busqueda" class="search-input" placeholder="Buscar cliente...">
            <button id="buscar" onclick="buscar">
                <i class="fas fa-search"></i> <!-- Ícono de búsqueda -->
            </button>
        </div>
        <table class="customer-tabla" id="tablaUsuarios">
            <thead>
                <tr>
                    <th class="tabla-header">Nombre</th>
                    <th class="tabla-header">DNI</th>
                    <th class="tabla-header">Número</th>
                    <th class="tabla-header">Acción</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>

    <script
		src="https://kit.fontawesome.com/81581fb069.js"
		crossorigin="anonymous"
	></script>

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- custom js file link  -->
		<!-- <script src="js/clientlist.js"></script> -->
  </body>
</html>