<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Mascota</title>
    <link rel="icon" href="images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/registroMascota.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <header>
        <div class="container-navbar">
            <div class="logo">
                <a href="">
                    <img src="images/logo.svg" alt="">
                    <p>VetSalud</p>
                </a>
            </div>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <nav class="navbar container" id="nav">
                <i class="fa-solid fa-bars" id="menu-cerrar"></i>
                <ul class="menu" id="menu-list">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Conócenos</a></li>
                    <li><a href="#">Agendar una cita</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#"><img width="80" src="images/user.svg" alt=""></a></li>
                    <li><a href="#" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="ventana">
        <div class="contenedor">
            <div class="ingreso-container">
                <h2>Datos Mascota</h2>
                <form class="ingreso-form" id="mascotaForm" action="/registroMascota/:usuarioId" method="post" enctype="multipart/form-data">
                    <div class="nombre">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="tipo">
                        <input type="text" id="tipo" name="tipo" placeholder="Tipo" required>
                    </div>
                    <div class="sexo-raza">
                        <div class="raza">
                            <input type="text" id="raza" name="raza" placeholder="Raza" required>
                        </div>
                        <div class="sexo">
                            <input type="text" id="sexo" name="sexo" placeholder="Sexo" required>
                        </div>
                    </div>
                    <div class="fecha">
                        <label>Fecha de Nacimiento<input type="date" id="fecha" name="fecha" placeholder="Fecha" required></label>
                    </div>
                    <div class="photo-mascota">
                        <label for="foto" alt="FotoMascota">Foto de la Mascota</label>
                        <input type="file" id="photo" name="photo" accept=".jpg, .jpeg, .png" required>
                    </div>
                    <div class="evidencia-mascota">
                        <label for="evidencias">Evidencias (PDF o Imágenes)</label>
                        <input type="file" id="evidencia" name="evidence" accept=".pdf, .jpg, .jpeg, .png" multiple required>
                    </div>                    
                    
                    <script>
                        const icono = document.getElementById("iconoMascota");
                        const inputFoto = document.getElementById("photo");
                    
                        icono.addEventListener("click", function () {
                          inputFoto.click();
                        });
                    </script>

                    <script>
                        
                        const nav = document.querySelector("#nav");
                        const abrir = document.querySelector("#menu-abrir");
                        const cerrar = document.querySelector("#menu-cerrar");
                    
                        abrir.addEventListener("click", () => {
                          nav.classList.add("visible");
                          nav.classList.toggle("action");
                        });

                        cerrar.addEventListener("click", () => {
                          nav.classList.remove("visible");
                        })
                    </script>
                    <button id="btnIngresar" type="submit" >Registrar Mascota</button>
                </form>
                <script>
                    function obtenerUsuarioId() {
                      // Obtener la URL actual
                      const url = window.location.href;
                  
                      // Buscar el patrón ":usuarioId" en la URL
                      const match = url.match(/\/registroMascota\/([^/]+)$/);
                  
                      // Si hay una coincidencia, devuelve el valor capturado (:usuarioId)
                      if (match) {
                        return match[1];
                      }
                      // Si no hay coincidencia o el valor no se puede encontrar, devuelve null o maneja el error según sea necesario.
                      return null;
                    }
                  
                    document.getElementById("mascotaForm").addEventListener("submit", function(event) {
                      // Obtener el usuarioId
                      const usuarioId = obtenerUsuarioId();
                  
                      // Actualizar la acción del formulario con el usuarioId
                      if (usuarioId) {
                        this.action = `/registroMascota/${usuarioId}`;
                      } else {
                        // Manejar el error o mostrar un mensaje al usuario si no se puede obtener el usuarioId
                        event.preventDefault(); // Detener el envío del formulario si no se puede obtener el usuarioId
                        alert("No se puede obtener el usuarioId del URL");
                      }
                    });
                </script>                  
            </div>
        </div>
    </section>

    <script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>

		<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

		<!-- custom js file link  -->
		<script src="js/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>