<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Citas programadas</title>
    <link rel="icon" href="static/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="static/css/schedule.css">
    <link rel="stylesheet" href="static/css/evo-calendar.min.css" />
    <link rel="stylesheet" href="static/css/evo-calendar.midnight-blue.min.css" />
    <script src="static/js/clientlist.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    
    <header>
        <div class="container-navbar">
            <div class="logo">
                <a href="">
                    <img src="static/images/logo.svg" alt="">
                    <p>VetSalud</p>
                </a>
            </div>
            <i class="fa-solid fa-bars" id="menu-abrir"></i>
            <nav class="navbar container" id="nav">
                <i class="fa-solid fa-bars" id="menu-cerrar"></i>
                <ul class="menu" id="menu-list">
                    <li><a href="clientlist.html">Lista de clientes</a></li>
					<li><a href="schedule.html">Citas programadas</a></li>
                    <li><a href="#">Crear ficha médica</a></li>
                    <li><a href="#">Fichas médicas</a></li>
                    <li><a href="#"><img width="80" src="static/images/user.svg" alt=""></a></li>
                    <li><a href="#" id="registro"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-container">
        <h1 class="titulo">Citas programadas</h1>
        <div id="calendar"></div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
    <script src="static/js/evo-calendar.min.js"></script>

    <script src="static/js/schedule.js">
    </script>
    
  </body>
</html>