@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 60%;
	font-family: 'Poppins', sans-serif;
}

body {
	height: 100vh;
}

header {
	height: 20%;
}

.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	margin-top: 1.5em;
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-navbar {
	background-color: #055492;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
	height: 100%;
}

.logo a {
    display: flex;
    align-items: center;
	padding: 1rem 0;
    gap: 2rem;
    text-decoration: none;
}

.logo img{
    width: 10rem;
    height: 10rem;
}

.logo p{
	font-size: 4rem;
	color: #ffffff;
	font-weight: 500;
	position: relative;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 1rem 0;
    height: 16rem;
    margin: 0;
}

#menu-abrir {
	display: none;
}

#menu-cerrar {
	display: none;
}

.menu {
	display: flex;
	gap: 4rem;
	align-items: center;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 2rem;
	color: #ffffff;
	font-weight: 600;
	position: relative;
}

#iniciar {
    color: #055492;
    background-color: #A8F2FE;
    padding: 1.6rem;
    border-radius: 20px;
}

#registro {
    padding: 1.6rem;
    border-radius: 20px;
    border: 2px solid #ffffff;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

/* Estilos para el contenedor de la tabla y otros elementos */

.content-contenedor {
    text-align: center;
    margin-top: 20px;
    margin-left: 10%; /* Agregamos margen izquierdo del 10% */
    margin-right: 10%; /* Agregamos margen derecho del 10% */
}

.titulo {
    font-size: 30px;
    margin-left: 10%;
    color: #055492;
    margin-bottom: 10px;
    margin-top: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los elementos a la derecha */
    margin-right: 10%;
    margin-bottom: 10px;
}

.search-input {
    width: 250px; /* Ajusta el ancho de la barra de búsqueda según tus necesidades */
    padding: 10px;
}

#buscar {
    background-color: #055492;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

#buscar i {
    font-size: 18px;
}

.highlight {
    background-color: #d5f5fa; /* Color de resaltado */
    font-weight: bold; /* Otras propiedades de estilo, como negrita */
}

.customer-tabla {
    background-color: white; /* Fondo blanco */
    color: #333; /* Texto gris oscuro */
    width: 90%; /* Ancho del 90% */
    margin: 0 5%; /* Margen izquierdo y derecho del 5% */
}

.tabla-header {
    background-color: #055492; /* Fondo del encabezado en azul (#055492) */
    color: white; /* Texto blanco en el encabezado */
    font-weight: bold; /* Negrita en el encabezado, si es necesario */
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
}

.tabla-cell {
    padding: 18px;
    font-size: 15px;
    text-align: center;
}

.tabla-row:nth-child(even) {
    background-color: #f0f0f0;
}

.tabla-row:hover {
    background-color: #e0e0e0;
}

#mensaje::backdrop {
    background-color: rgba(0, 0, 0, .55);
}

#mensaje {
    background-color: #fff;
    width: 550px;
	height: 400px;
    padding: 20px;
	text-align: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}

#detalleConsulta {
	margin-bottom: 20px;
	margin-top: 20px;
    padding: 15px 10px;
}

#detalleConsulta h1 {
	text-align: center;
    color: #055492;
	font-size: 30px;
	margin-bottom: 30px;
}

#detalleConsulta .datoP {
	font-size: 20px;
	margin-bottom: 15px;
	text-align: start;
}

#aceptar {
    background-color: #3498db;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.detalles-abrir {
	margin-left: 10px;
	font-size: 2rem;
	cursor: pointer;
	transition: opacity 0.3s, visibility 0.3s;
}

.detalle-form .datoP{
    width: 100%;
    margin: 9px 0;
}

.datoP label {
    width: 100%;
}




/*Media Querys*/

@media (max-width: 766px) {
	html {
		font-size: 55%;
	}
	
	.navbar {
		padding: 1rem 2rem;
	}
	
	#menu-abrir {
		display: block;
		color: #fff;
		font-size: 3rem;
		cursor: pointer;
		transition: opacity 0.3s, visibility 0.3s;
	}
	
	.navbar {
		display: flex;
		position: absolute;
		flex-direction: column;
		align-items: end;
		top: 0;
		right: 0;
		gap: 1rem;
		background-color: #055492;
		padding: 5rem;
		box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
		height: 100vh;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s, visibility 0.3s;
	}

	.navbar.visible {
		opacity: 1;
		visibility: visible;
	}

	.menu {
		flex-direction: column;
		align-items: start;
	}

	#menu-cerrar {
		display: block;
		color: #fff;
		font-size: 3rem;
		cursor: pointer;
		transition: opacity 0.3s, visibility 0.3s;
	}

	.menu a img {
		width: 45px;
	}

	.menu #menu-cerrar {
		display: block;
	}

	.ingreso-container {
		padding: 10px;
	}

	.ingreso-form input {
		height: 30px;
		font-size: 13px;
	}

	
	.ingreso-form .fecha {
		font-size: 12px;
	}

	.fecha input {
		height: 30px;
	}

	#btnIngresar {
		font-size: 17px;
	}

    .customer-tabla .tabla-header {
        font-size: 20px;
    }

    .titulo {
        font-size: 25px;
        margin-left: 5%;
    }
  
}
